.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.gitignore

plots/*
results/*
data/*
kallisto_out*/
fastqs/

*.Rproj
preprocessing/STAR/*
preprocessing/scripts/deprecated/kallisto_bus_pseudoalign.out
preprocessing/scripts/pseudoalignment_pseudobam*
preprocessing/scripts/.pseudoalignment.log.swp

scripts/*.html
scripts/*/*.html
scripts/exploratory/
scripts/projections_files/
scripts/tabula_muris_senis/
sleuth/
snakemaked/
star_deseq_pipeline/

ashg_poster/
geo_submission/

deprecated_before_outlier_removal/
isoform_level_analysis/cufflinks/
isoform_level_analysis/gencode.vM27.annotation.gtf
isoform_level_analysis/isoformSwitchAnalyzer/DEXSeq/*.rds
isoform_level_analysis/isoformSwitchAnalyzer/DEXSeq/plots
isoform_level_analysis/isoformSwitchAnalyzer/DEXSeq/figures/

isoform_level_analysis/manual/
metadata_merged_filtered.csv
preprocessing/scripts/multiqc/
preprocessing/scripts/pseudoalignment_bootstrapped.slurm

